[user]
	email = 58638286+adonyssantos@users.noreply.github.com
	name = Adonys Santos
[github]
	user = adonyssantos
[core]
        editor = nano
[pull]
        rebase = false
[init]
        defaultBranch = main
[alias]
        cg = config --global
        cl = config --list
        all = add .
        st = status
        unstage = reset HEAD --
        ci = commit -m
	cia = commit -am
        amend = commit --amend
        ps = push
        psu = ps --set-upstream origin
        pl = pull
        pf = ! git pull && git fetch
        ud = ! git fetch && git rebase
        udm = udt origin/main
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
        nm = lg --no-merges
        df = lg -p
        co = checkout
        br = branch
        main = branch -M main
        back = co -- .
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
